<div class="modal-content" ng-form="addPartnerRepReqForm">
    <div class="modal-header">
        <h3>Add Partner Rep</h3>
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="controller.cancel()" style="margin-top:-60px;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label
                        for="firstName"
                        class="col-sm-3 control-label">
                    First Name
                </label>

                <div class="col-sm-9">
                    <input
                            id="firstName"
                            name="firstName"
                            type="text"
                            class="form-control"
                            ng-model="controller.addPartnerRepReqData.firstName"
                            ng-required="true"
                            ng-maxlength="40"
                            ng-minlength="1">

                    <div ng-show="addPartnerRepReqForm.firstName.$touched||addPartnerRepReqForm.$submitted">
                        <ng-messages class="help-block" for="addPartnerRepReqForm.firstName.$error">
                            <div ng-messages-include="add-partner-rep-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="lastName"
                        class="col-sm-3 control-label">
                    Last Name
                </label>

                <div class="col-sm-9">
                    <input
                            id="lastName"
                            name="lastName"
                            type="text"
                            class="form-control"
                            ng-model="controller.addPartnerRepReqData.lastName"
                            ng-required="true"
                            ng-maxlength="40"
                            ng-minlength="1">

                    <div ng-show="addPartnerRepReqForm.lastName.$touched||addPartnerRepReqForm.$submitted">
                        <ng-messages class="help-block" for="addPartnerRepReqForm.lastName.$error">
                            <div ng-messages-include="add-partner-rep-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="emailAddress"
                        class="col-sm-3 control-label">
                    Email Address
                </label>

                <div class="col-sm-9">
                    <input
                            id="emailAddress"
                            name="emailAddress"
                            type="email"
                            class="form-control"
                            ng-model="controller.addPartnerRepReqData.emailAddress"
                            rep-email-address-validator
                            ng-required="true">

                    <div ng-show="addPartnerRepReqForm.emailAddress.$touched||addPartnerRepReqForm.$submitted">
                        <ng-messages class="help-block" for="addPartnerRepReqForm.emailAddress.$error">
                            <div ng-messages-include="add-partner-rep-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-4">

                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndClose(addPartnerRepReqForm)"
                        ng-if="addPartnerRepReqForm.$pending">
                    please wait...
                </button>
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndClose(addPartnerRepReqForm)"
                        ng-if="!addPartnerRepReqForm.$pending">
                    save and close
                </button>
            </div>
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.cancel()">
                    cancel
                </button>
            </div>
        </div>
    </div>
</div>